{# footer #}
<footer class="mt-auto py-3 bg-primary">
		<div class="container text-center">
				<div class="d-flex justify-content-center flex-column">
						<a class="nav-link mx-auto " href="">CGU</a>
						<a class="nav-link mx-auto" href="">RGPD</a>
						<a class="nav-link mx-auto" href="">Politique de confidentialité</a>
						<a class="nav-link mx-auto" href="">Mentions Légales</a>
						<a class="nav-link mx-auto" href="">Plan du site</a>
				</div>
				<hr>
								{# TODO: links to social media need to be added and proper copyrights #}
				<div class="justify-content-between d-flex">
						<div class="align-self-start">
								<span>Copyright and co</span>
						</div>
						<div>
								<a class="nav-link fa-brands fa-instagram fa-2xl mx-1" href=""></a>
								<a class="nav-link fa-brands fa-twitter fa-2xl" href=""></a>
						</div>
				</div>
		</div>
</footer>
