{# where "slug ?" -> if slug is empty then it isn't passed in the url, if it isn't, it is passed #}

{# pagination displayed only if it has more than 1 page #}
{% if pages > 1 %}
  <nav>
    <ul class="pagination mx-auto my-5 justify-content-center">
      {# disabling arrow button if current page is the first one #}
      <li class="page-item {% if currentPage <= 1%} disabled {% endif %}">
        {# link to previous page #}
        <a class="page-link" href="{{ slug ? path(path, {slug: slug, page: currentPage - 1}) : path(path, {page: currentPage - 1}) }}">&laquo;</a>
      </li>
      {% for page in 1..pages %}
        <li class="page-item">
          {# link to a page #}
          <a class="page-link text-secondary {% if currentPage == page %} active text-white {% endif %}" href="{{ slug ? path(path, {slug: slug, page: page}) : path(path, {page: page}) }}">{{ page }}</a>
        </li>
      {% endfor %}
      {# disabling arrow button if the current page is the last one #}
      <li class="page-item {% if currentPage >= pages %} disabled {% endif %}">
        {# link to next page #}
        <a class="page-link" href="{{ slug ? path(path, {slug: slug, page: currentPage + 1}) : path(path, {page: currentPage + 1}) }}">&raquo;</a>
      </li>
    </ul>
  </nav>
{% endif %}
