{% extends 'base.html.twig' %}

{% block title %}Hello ExtraLinksController!{% endblock %}

{% block body %}
<div class="container text-center">
    <h1 class="my-5">Conditions generales d'utilisation</h1>
</div>
{% endblock %}
