{% extends 'base.html.twig' %}

{% block body %}

    {# Banner #}

    <section class="fond">
        {# <img src="{{ asset("assets/img/banner.jpg") }}" alt="" style="max-height: 200px; width: 100%"> #}
    </section>
    {# New creation #}
    <section class="container text-center">
        <h1 class="my-5">Nouveautés</h1>
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-6 h-100 fadein mb-3">
                <img class="card-img-top" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="...">
                <div class="card-body">
                    <h5 class="card-title mt-2 h4 text-start">Card title</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 h-100 fadein mb-3">
                <img class="card-img-top" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="...">
                <div class="card-body">
                    <h5 class="card-title mt-2 h4 text-start">Card title</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 h-100 fadein mb-3">
                <img class="card-img-top" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="...">
                <div class="card-body">
                    <h5 class="card-title mt-2 h4 text-start">Card title</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 h-100 fadein mb-3">
                <img class="card-img-top" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="...">
                <div class="card-body">
                    <h5 class="card-title mt-2 h4 text-start">Card title</h5>
                </div>
            </div>
        </div>
        <a class="btn btn-primary home-button text-secondary mt-4 mb-5" href="">Tout voir</a>
        <hr>
    </section>

{% endblock %}
